.about-border {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

.welcome {
    font-size: 30px;
    justify-content: center;
}

.introduction {
    padding: 50px;
    font-size: 17px;
}

@media only screen and (max-width: 800px) {
    .welcome {
        font-size: 17px;
    }
}