.item-border {
    display: flex;
    flex-direction: column;
}

.item-image {
    box-shadow: 1px 1px black;
}

.item-drop-down {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    padding: 10px;
    border: 1px black solid;
    box-shadow: 1px 1px black;
}

.item-name {
    font-size: 20px;
}

.item-description {
    margin-top: 10px;
}