.header-border  {
    display: grid;
    padding: 25px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    box-shadow: 1px 1px black;
    font-size: 30px;
    color: black;
}

.title {
    display: flex;
    justify-content: left;
    grid-column-start: 1;
    grid-column-end: 1;
}

.shop-link {
    display: flex;
    justify-content: right;
    grid-column-start: 2;
    grid-column-end: 2;
}

@media only screen and (max-width: 800px) {
    .title {
        font-size: 15px;
    }

    .shop-link {
        font-size: 15px;
    }
}