.shop-page-header {
    display: flex;
    justify-content: center;
    font-size: 30px;
    margin-top: 25px;
}

.item-map {
    display: grid;
    grid-template-columns: repeat(auto-fill, 475px);
    margin-bottom: 50px;
}

@media only screen and (max-width: 800px) {
    .shop-page-header {
        font-size: 15px;
    }

    .item-map {
        display: flex;
        flex-direction: column;
    }
}