.footer-header {
    background-color: rgba(0, 0, 0, 0.87);
    color: white;
    padding: 25px;
}

.contact {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    font-size: 30px;
}

.footer-border {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    color: white;
}

.email-address {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.phone-number {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

@media only screen and (max-width: 800px) {
    .contact {
        font-size: 15px;
    }

    .email {
         font-size: 12px;
    }

    .email-address {
        font-size: 12px;
    }

    .phone {
        font-size: 12px;
    }

    .phone-number {
        font-size: 12px;
    }
}